/* * {
    text-align: center;
} */

.lr_wrapper {
    max-width: 400px;
    height: auto;
    width: 70%;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin: 50px;
}

.title {
    text-align: center;
    font-weight: 500;
    /* margin: 0;
    margin-bottom: 1rem; */
}

