/* * {
    text-align: center;
} */

.register_wrapper {
    max-width: 600px;
    height: auto;
    width: 70%;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    padding: 1rem;
}

.title {
    text-align: center;
    font-weight: 500;
    /* margin: 0;
    margin-bottom: 1rem; */
}